@import "../variables&mixin/mixin";
.section-hero{
   background-color: #edf0f5;
   padding-top: 4rem;
   position: relative;
   // height: 100vh;
   overflow: hidden;
   .slider-control{
      position: absolute;
      bottom: 6.5rem;
      right: 14rem;
      display: flex;
      z-index: 2;
      gap: 1.2rem;
      cursor: pointer;
      @include maxWidth(1200px){
         right: 6rem;
      }
      span{
         width: 9.4rem;
         height: 9.4rem;
         background-color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 3.6rem;
         font-weight: 600;
         box-shadow: 0 5px 20px rgba(0,0,0,0.1);
         @include maxWidth(1580px){
            width: 5.2rem;
            height: 5.2rem;
            font-size: 2.4rem;
         }
      }
   }
   .social-logo{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3.2rem;
      right: 10rem;
      top: 50%;
      transform: translateY(-50%);
      @include maxWidth(1200px){
         right: 5rem;
      }
   }
   .ecllipse {
      background: rgb(0,255,255);
      background: linear-gradient(40deg, rgba(0,255,255,1) 0%, rgba(255,206,0,1) 50%);
      position: absolute;
      width: 168px;
      height:168px;
      border-radius: 50%;
      opacity: 0.2;
      top: 20px;
      right: -57px;
   }
}

.hero{  
   display: grid;
   grid-template-columns: 1fr 1.2fr;
   @include minAndMaxWidth(740px, 1024px){
      grid-template-columns: 1fr;
   }
   &-text-box{
      margin-top: 13.5rem;
      position: relative;
      @include maxWidth(1200px){
         margin-top: 0.5rem;
      }
      @include minAndMaxWidth(740px, 1024px){
         z-index: 3;
         position: absolute;
         
      }
      .slider-number{
         position:absolute;
         font-size: 1.6rem;
         color: #bebebe;
         font-weight: 500;
         left: 0;
         bottom: 22px;
         display: flex;
         align-items: flex-start;
         font-family: $secondaryFont;
         @include minAndMaxWidth(740px, 1024px){
            bottom: -45%;
            span{
               font-weight: 500;
            }
         }
         span{
            font-size: 3rem;
            color: $textColor;
            margin-left: 4px;
            margin-right: 4px;
            font-weight: 400;
         }
      }
   }
   &-text-primary{
      color: $textColor;
      font-size: 7.2rem;
      font-weight: 500;
      margin-bottom: 6px;
      @include minAndMaxWidth(740px, 1024px){
         text-shadow: 0 0 #fff;
         width: 50%;
      }
   }
   &-description{
      color: $subTextColor;
      font-size: 2.4rem;
      margin-bottom: 7.5rem;
      @include minAndMaxWidth(740px, 1024px){
         // text-shadow: 0 0 #fff;
         width: 50%;
         font-weight: 500;
      }
   }
   &-img-box{
      position: relative;
      .hero-img{
         z-index: 2;
         display: block;
         position: relative;
         width: 100%;
         @include minAndMaxWidth(740px, 1024px){
           
         }
      }
      .circle{
         position: absolute;
         z-index: 0;
         left: 50%;
         top: 50%;
         transform: translate(-50%,-50%);
      }
      .ecllipse-img{
         position: absolute;
         z-index: 0;
         left: 50%;
         top: 50%;
         transform: translate(-50%,-50%);
         opacity: 0.2;
      }
      .ecllipse-1 {
         top: 30%;
         left: 46%;
      }
      .ecllipse-2 {
         left: 31%;
         top: 59%;
      }
      .ecllipse-3 {
         left: 75%;
         top: 59%;
      }
   }
   
}