@import "../variables&mixin/mixin";
.section-policy{
   padding: 6.1rem 0;
   justify-content: center;
   .policy {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      @include maxWidth(510px){
         &-icon{
            img{
               width: 100%;
            }
         }
      }
   }
   .policy-content {
      color: $textColor;
      p{
         color: $subTextColor;
      }
   }
   @include maxWidth(1200px){
      .policy-gap-m{
         column-gap: 1rem;
         row-gap: 2rem;
      }
   }
}