.section-trending-banner{
   width: 100%;
   margin-top: 10rem;
   .banner-wrap{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 513px;
      gap: 3.9rem;
      
      .banner-title{
         font-size: 6.4rem;
         font-weight: 500;
      }
      @include maxWidth(1200px){
         gap: 1rem;
         .banner-title{
            text-shadow: 0 0 #fff;
         }
         .trending-banner{
            .btn{
               font-weight: 500;
               
            }
         }
         
      }
      .trending-banner-left{
         position: relative;
         background-color: #fdeae6;
         padding-left: 6.8rem;
         padding-top: 8.3rem;
         img{
            position: absolute;
            bottom: 0;
            right: 1.8rem;
            z-index: 0;
         }
         .banner-title,.btn{
            z-index: 1;
            position: relative;
         }
         .banner-title{
            margin-bottom: 3.5rem;
         }
         .banner-title{
            display: block;
            width: 70%;
         }
      }
      .trending-banner-right{
         background-image: url("../../assets/TrendingBanner/banner_right.png");
         background-repeat: no-repeat;
         display: grid;
         grid-template-columns: 1fr 1fr;
         .banner-box{
            margin-left: 6.8rem;
            margin-top: 6.7rem;
            .banner-title{
               margin-bottom: 3.5rem;
            }
         }
         @include maxWidth(1200px){
            background-position: center;
         }
      }
   }
}