@import "../variables&mixin/mixin";
.section-instagram{
   margin-top: 31rem;
   padding: 0 2.3rem;
   @include minAndMaxWidth(740px, 1024px){
      margin-top: 47rem;        
   }
   .images{
      gap: 2.3rem;
      @include maxWidth(1200px){
         gap: 2rem;
      }
      .image{
         width: 100%;
      }
   }
   @include minAndMaxWidth(740px, 1024px){
      .images-m{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         .image-m{
            width: 33.333%;
         }
      }        
   }
}