@import "../variables&mixin/mixin";
.section-policy{
   padding: 6.1rem 0;
   justify-content: center;
   .policy {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
   }
   .policy-content {
      color: $textColor;
      p{
         color: $subTextColor;
      }
   }
   @include minAndMaxWidth(740px, 1024px){
      .policy-gap-m{
         column-gap: 1rem;
         row-gap: 2rem;
      }
   }
}