@import "../variables&mixin/mixin";
.section-limited-offer{
   margin-top: 10rem;
   position: relative;
   height: 1205px;
   @include minAndMaxWidth(740px, 1024px){
      height: unset; 
      margin-bottom: 16.2rem;      
   }
   .limited-offer{
      grid-template-columns: 1.5fr 1fr;
      gap: 6.5rem;
      img{
         max-width: 1590px;
      }
      @include maxWidth(1580px){
         grid-template-columns: 1fr 1fr;
         img{
            width: 100%;
         }
      }
      @include minAndMaxWidth(740px, 1024px){
            gap: 1rem;
            align-items: center;
      }
      &-content{
         max-width: 475px;
         padding-top: 3.4rem;
         @include maxWidth(1580px){
            width: 100%;
         }
         @include minAndMaxWidth(740px, 1024px){
            padding-top: 0;

         }
         .limited-label{
            font-size: 2.4rem;
            text-transform: uppercase;
            background-color: $primaryColor;
            color: #fff;
            display: inline-block;
            padding: 1.2rem 2.4rem;
            @include minAndMaxWidth(740px, 1024px){
               
            }
         }
         .limited-title{
            margin-top: 4rem;
            font-weight: 400;
            color: #464646;
            span{
               font-size: 5.2rem;
               color: $primaryColor;
            }
            @include minAndMaxWidth(740px, 1024px){
               margin-top: 2rem;
               font-size: 3.2rem;
               span{
                  font-size: 4.8rem;
               }
            }
         }
         .expire-time{
            font-size: 5.6rem;
            margin-top: 3rem;
            font-family: $secondaryFont;
            span{
               font-size: 2rem;
               color: $primaryColor;
               font-weight: 500;
               text-transform: uppercase;
            }
            @include minAndMaxWidth(740px, 1024px){
               margin-top: 1rem;
               font-size: 4.8rem;
               span{
                  font-size: 1rem;
               }
            }
         }
      }
   }

   .pannel-right{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
      padding: 6.2rem 5.1rem;
      @include maxWidth(1580px){
         position: relative;
         bottom: unset;
         right: unset;
      }
      @include minAndMaxWidth(740px, 1024px){
            padding: 3.6rem 1.8rem;
      }
      .pannel-nav{
         margin-right: 10rem;
      }
      .pannel-right-content{
         display: flex;
         align-items: center;
         gap: 5rem;
         @include minAndMaxWidth(740px, 1024px){
            gap: 1rem;  
         }
      }
      .slider-control{
         display: flex;
         cursor: pointer;
         span{
            width: 9.4rem;
            height: 9.4rem;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.6rem;
            font-weight: 600;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1);
            @include maxWidth(1200px){
               width: 7.4rem;
               height: 7.4rem;
               font-size: 2.4rem;
            }
            @include minAndMaxWidth(740px, 1024px){
               width: 5.2rem;
               height: 5.2rem;
               font-size: 2.4rem;
            }
         }
      }
   }
}